<footer class="footer">
  <small>
    <a href="https://github.com/nikeboc/minpaku-app/">株式会社民パーク |</a>
    <a>代表:高島成生</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "ヘルプ",   help_path %></li>
      <li><%= link_to "会社概要",   about_path %></li>
      <li><%= link_to "お問い合わせ", contact_path %></li>
    </ul>
  </nav>
</footer>