<footer class="footer">
  <small>
    <a href="https://github.com/nikeboc/minpaku-app/">株式会社MinPark |</a>
    <a>代表:高島成生</a>
  </small>
  <nav>
    <ul>
      <li><%= link_to "About",   about_path %></li>
      <li><%= link_to "Contact", contact_path %></li>
    </ul>
  </nav>
</footer>